# Correlating NYT Data with Market Data

### Loading in Data

In [3]:
import os
import json
import time
import requests
import datetime
import dateutil
import pandas as pd
import glob
import string
from dateutil.relativedelta import relativedelta
import numpy as np
import yfinance as yf

In [4]:
spy = yf.download("SPY")
nyt = pd.read_csv("./Data/NYTDataCleaned.csv", encoding = "ISO-8859-1")

xlk = yf.download("XLK")
xlv = yf.download("XLV")
xlf = yf.download("XLF")
xly = yf.download("XLY")
xli = yf.download("XLI")
xlp = yf.download("XLP")
xlu = yf.download("XLU")
xle = yf.download("XLE")
xlc = yf.download("XLC")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [20]:
listOfFunds = [spy , xlk , xlv, xlf, xly , xli, xlp, xlu, xle, xlc]

for etf in listOfFunds:
    etf["log returns"] = np.log(etf["Open"]-etf["Close"])
spy

,Open,High,Low,Close,Adj Close,Volume,log returns
Date,,,,,,,
1993-01-29,43.968750,43.968750,43.750000,43.937500,26.079659,1003200,-3.465736
1993-02-01,43.968750,44.250000,43.968750,44.250000,26.265144,480500,NaN
1993-02-02,44.218750,44.375000,44.125000,44.343750,26.320782,201300,NaN
1993-02-03,44.406250,44.843750,44.375000,44.812500,26.599014,529400,NaN
1993-02-04,44.968750,45.093750,44.468750,45.000000,26.710312,531500,NaN
...,...,...,...,...,...,...,...
2020-11-19,355.600006,358.179993,354.149994,357.779999,357.779999,59940900,NaN
2020-11-20,357.500000,357.720001,355.250000,355.329987,355.329987,70417300,0.774733
2020-11-23,357.279999,358.820007,354.869995,357.459991,357.459991,63230600,NaN
2020-11-24,360.209991,363.809998,359.290009,363.220001,363.220001,62100900,NaN
2020-11-25,363.130005,363.160004,361.484985,362.660004,362.660004,36698944,-0.755020

In [ ]:
xlc["Log Returns"]

In [4]:
# Match nyt data to the data we have on SPY and combine them into one dataframe
# spy = spy.iloc[6969:] # Remove this time
spy.head()

                Open      High       Low     Close  Adj Close   Volume
Date
1993-01-29  43.96875  43.96875  43.75000  43.93750  26.079659  1003200
1993-02-01  43.96875  44.25000  43.96875  44.25000  26.265144   480500
1993-02-02  44.21875  44.37500  44.12500  44.34375  26.320782   201300
1993-02-03  44.40625  44.84375  44.37500  44.81250  26.599014   529400
1993-02-04  44.96875  45.09375  44.46875  45.00000  26.710312   531500