# Data Cleaning
city names source: https://simplemaps.com/data/us-cities

In [86]:
import os
import json
import time
import requests
import datetime
import dateutil
import pandas as pd
import glob
import string
from dateutil.relativedelta import relativedelta

In [59]:
names = pd.read_csv("./Data/names.csv", encoding = "ISO-8859-1")
locations = pd.read_csv("./Data/uscities.csv")
articles = pd.read_csv("./headlines/NYTData.csv")
countries = pd.read_csv("./Data/countries.csv")

In [94]:
print(len(articles))
articles.head()
articles[articles["material_type"] == "News"].head()

articles.iloc[1]["headline"].replace("’","")

12764

'Tech Isnt the Answer for Test Taking'

In [46]:
# Formatting locations and creating a locationSet
locationSet = {"United States"}
# countries = countries.drop(columns=["Code"])
for country in countries.Name.values:
    if len(country.split()) > 1:
        locationSet.add(country.lower()) 
for location in locations.city.values:
    if len(location.split()) > 1:
        locationSet.add(location.lower()) 
for location in locations.state_name.values:
    if len(location.split()) > 1:
        locationSet.add(location.lower())

In [47]:
articles = articles.drop(columns=["doc_type", "material_type", "section", "keywords"])
articles = articles.dropna()
names = names.drop(columns=["A"])
names = names.rename(columns = {"Adele":"names"})

In [48]:
# How to check is a word is in the dataframe
# 'Adele' in names.names.values
names.head()

           names
0            Alf
1      Aristotle
2   Attenborough
3  Abigail Adams
4     Adam Arkin

In [49]:
#Removing punctuation from headlines
for i in range(len(articles)):
    text = articles.iloc[i][0].translate(str.maketrans('', '', string.punctuation)).lower()
    text = unidecode(unicode(text, encoding = "utf-8"))
    articles.iloc[i][0] = text

In [53]:
#Group by every day
articles = articles.groupby(["date"]).agg(lambda s: " ".join(s))

In [54]:
#Formatting names
i = 0
nameSet = {"TESTSTRING"}
nameSet.remove("TESTSTRING")
for name in names.names.values:
    names["names"][i] = name.lower()
    i += 1
    nameSet.add(name)

In [ ]:
#Testing below
# d = {'col1': [1, 2], 'headline': ["hi hi hi hi hi hi", "potato potato potato hi hi hi hi"]}
# testdf = pd.DataFrame(data=d)
# for i in range(len(testdf)):
#     s = {}
#     for name in nameSet:
#         if name in testdf["headline"][i]:
#             if name in s:
#                 s[name] += 1
#             else:
#                 s[name] = 1
#             testdf["headline"][i].replace(name, "")
#     for name in locationSet:
#         if name in testdf["headline"][i]:
#             if name in s:
#                 s[name] += 1
#             else:
#                 s[name] = 1
#             testdf["headline"][i].replace(name, "")
#     for word in testdf["headline"][i].split():
#         if word in s:
#             s[word] += 1
#         else:
#             s[word] = 1
#     testdf["headline"][i] = s

In [55]:
#Removing duplicate words from headlines and counting them
for i in range(len(articles)):
    s = {}
    for name in nameSet:
        if name in articles["headline"][i]:
            if name in s:
                s[name] += 1
            else:
                s[name] = 1
            articles["headline"][i].replace(name, "")
    for name in locationSet:
        if name in articles["headline"][i]:
            if name in s:
                s[name] += 1
            else:
                s[name] = 1
            articles["headline"][i].replace(name, "")
    for word in articles["headline"][i].split():
        word = word.replace("‘", "")
        word = word.replace("’", "")
        if word in s:
            s[word] += 1
        else:
            s[word] = 1
    articles["headline"][i] = s
articles.to_csv("NYTDataCleaned.csv", encoding = "ISO-8859-1")

In [58]:
articles.headline.values

array([{'headline': 1}, {'headline': 1}, {'headline': 1}, {'headline': 1},
       {'headline': 1}, {'headline': 1}, {'headline': 1}, {'headline': 1},
       {'headline': 1}, {'headline': 1}, {'headline': 1}, {'headline': 1},
       {'headline': 1}, {'headline': 1}, {'headline': 1}, {'headline': 1},
       {'headline': 1}, {'headline': 1}, {'headline': 1}, {'headline': 1},
       {'headline': 1}, {'headline': 1}, {'headline': 1}, {'headline': 1},
       {'headline': 1}, {'headline': 1}, {'headline': 1}, {'headline': 1},
       {'headline': 1}, {'headline': 1}, {'headline': 1}, {'headline': 1},
       {'headline': 1}, {'headline': 1}, {'headline': 1}, {'headline': 1},
       {'headline': 1}, {'headline': 1}, {'headline': 1}, {'headline': 1},
       {'headline': 1}, {'headline': 1}, {'headline': 1}, {'headline': 1},
       {'headline': 1}, {'headline': 1}, {'headline': 1}], dtype=object)