# Correlating NYT Data with Market Data

### Loading in Data

In [1]:
import os
import json
import time
import requests
import datetime
import dateutil
import pandas as pd
import glob
import string
from dateutil.relativedelta import relativedelta
import numpy as np
import yfinance as yf

In [2]:
spy = yf.download("SPY")
nyt = pd.read_csv("./Data/NYTDataCleaned.csv", encoding = "ISO-8859-1")

[*********************100%***********************]  1 of 1 completed

FileNotFoundError: [Errno 2] No such file or directory: './Data/NYTDataCleaned.csv'

In [3]:
spy.head()

                Open      High       Low     Close  Adj Close   Volume
Date
1993-01-29  43.96875  43.96875  43.75000  43.93750  26.079659  1003200
1993-02-01  43.96875  44.25000  43.96875  44.25000  26.265144   480500
1993-02-02  44.21875  44.37500  44.12500  44.34375  26.320782   201300
1993-02-03  44.40625  44.84375  44.37500  44.81250  26.599014   529400
1993-02-04  44.96875  45.09375  44.46875  45.00000  26.710312   531500

In [4]:
spy["Delta"] = spy["Close"] - spy["Open"]
spy.head()

,Open,High,Low,Close,Adj Close,Volume,Delta
Date,,,,,,,
1993-01-29,43.96875,43.96875,43.75000,43.93750,26.079659,1003200,-0.03125
1993-02-01,43.96875,44.25000,43.96875,44.25000,26.265144,480500,0.28125
1993-02-02,44.21875,44.37500,44.12500,44.34375,26.320782,201300,0.12500
1993-02-03,44.40625,44.84375,44.37500,44.81250,26.599014,529400,0.40625
1993-02-04,44.96875,45.09375,44.46875,45.00000,26.710312,531500,0.03125